@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC 實戰訓練營 第八梯</h1>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Day 1</h2>
        <p style="font-size: large;">
            <ol>
                <li>必須使用 Layout</li>
                <li>下方列表部分建議分開，不要寫在同一頁 並且要有假資料100筆（禁止寫死在 HTML）</li>
                <li>上方輸入的部分可以只是切版的結果不用實現功能。</li>
                <li>前方數字是流水號，不是DB的值</li>
                <li>本次作業禁止使用任何形式的 Database</li>
            </ol> 
        </p>
        <p style="font-size: large;">
            Child Action 寫在 MyAccountBook.cshtml (我的記帳本)
        </p>
        
    </div>
</div>
