@{
    Boolean LoginTicket = (Boolean?)Session["auth"] ?? false;
}
@*@if (Session["auth"] != null && (bool)Session["auth"] == true)*@
@if (LoginTicket)
{
    using (Html.BeginForm("LogOff", "Account", new { Controller = "Account", Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            <li>

                @Html.ActionLink("Hello !", "Index", new { Controller = "Home", area = "" })
            </li>
            <li>
                @Html.ActionLink("登出", "Logout", new { Controller = "Home", area = "" }, htmlAttributes: new { id = "loginLink" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("登入", "Login", new { Controller = "Home", area = "" }, htmlAttributes: new { id = "loginLink" })</li>

    </ul>
}

